NAME=
NODE_ENV=
PORT=

# Frontend URL
FRONTEND_URL=

# Swagger Docs
DOCS_LOGIN_KEY=
DOCS_LOGIN_PWD=

# MongoDb
MONGODB_URI=

# JWT Secret
JWT_SECRET=

# Mail
SMTP_FROM=
SMTP_HOST=
SMTP_USER=
SMTP_PASS=
SMTP_PORT=
SMTP_SECURE=
SMTP_REPLY_TO=